<div>
  <div class="relative px-4 pt-6 sm:px-6 lg:px-8">
    <nav class="relative flex items-center justify-between py-8 sm:h-10 lg:justify-start" aria-label="Global">
      <div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0">
        <div class="flex items-center justify-between w-full md:w-auto">
          <a href="/">
            <span class="sr-only">AnyAcademy</span>
              <svg class="w-auto h-16 sm:h-16" version="1.1" id="katman_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              	 viewBox="0 0 175 200" style="enable-background:new 0 0 175 200;" xml:space="preserve">
                <style type="text/css">
                	.st0{fill:#C7594B;}
                	.st1{fill:#AD3D6F;}
                	.st2{fill:#FF9300;}
                	.st3{fill:#E17327;}
                	.st4{fill:#662D91;}
                	.st5{fill:#932191;}
                	.st6{fill:#FBB040;}
                </style>
                <polygon class="st0" points="114.58,171.61 172.31,171.61 125.68,193.64 117.51,197.5 57.49,197.5 "/>
                <polygon class="st1" points="57.49,197.5 117.51,197.5 172.31,171.61 "/>
                <polygon class="st2" points="103.79,155.25 161.51,155.25 124.07,191.2 117.51,197.5 57.49,197.5 "/>
                <polygon class="st3" points="57.49,197.5 117.51,197.5 126.19,189.17 103.79,155.26 "/>
                <polygon class="st4" points="95.55,131.96 93.9,127.84 106.75,116.17 "/>
                <polygon class="st5" points="81.18,184.81 99.15,189.44 91.55,103.92 88.13,103.92 "/>
                <polygon class="st5" points="67.78,120.02 85.28,108.54 85.77,103.92 76.11,100.89 "/>
                <polygon class="st4" points="76.11,112.4 84.59,120.65 81.18,184.81 88.13,103.92 85.77,103.92 84.59,115 78.47,110.28 "/>
                <polygon class="st5" points="106.75,116.17 95.1,122.9 93.78,130.31 "/>
                <polygon class="st1" points="91.55,103.92 95.27,187.11 105.67,193.35 95.63,125.48 106.75,116.17 95.1,122.9 "/>
                <polygon class="st5" points="102.66,86.95 91.55,103.92 95.75,116.17 102.66,102.9 "/>
                <polygon class="st4" points="95.75,116.17 120.81,122.38 102.66,102.9 "/>
                <polygon class="st1" points="102.66,102.9 138.56,116.17 120.81,122.38 "/>
                <polygon class="st2" points="102.66,102.9 140.68,90.96 138.56,116.17 "/>
                <polygon class="st0" points="156.47,70.3 102.66,102.9 140.68,90.96 "/>
                <polygon class="st6" points="102.66,102.9 102.66,86.95 112.25,86.6 114.92,58.9 156.47,70.3 "/>
                <polygon class="st1" points="97.88,95.32 91.55,103.92 85.77,103.92 43.11,90.96 "/>
                <polygon class="st0" points="97.88,95.32 102.66,86.95 112.25,86.6 99.15,68.8 43.11,90.96 "/>
                <polygon class="st6" points="43.12,90.96 54.43,56.71 99.15,68.8 "/>
                <polygon class="st3" points="112.25,86.6 99.15,68.8 102.66,2.5 114.92,58.9 "/>
                <polygon class="st2" points="102.66,2.5 114.92,58.9 128.45,62.61 "/>
                <polygon class="st0" points="122.33,48.36 140.68,41.62 124.46,53.31 "/>
                <polygon class="st3" points="140.68,41.62 136.13,64.72 128.45,62.61 124.46,53.31 "/>
                <polygon class="st6" points="102.66,2.5 38.72,30.31 99.15,68.8 "/>
                <polygon class="st3" points="38.72,30.31 54.43,56.71 99.15,68.8 "/>
                <polygon class="st2" points="54.43,56.71 26.93,46.65 46.74,43.79 "/>
                <polygon class="st0" points="26.93,46.65 46.05,82.06 54.43,56.71 "/>
                <polygon class="st2" points="26.93,46.65 8.71,70.3 46.05,82.06 "/>
                <polygon class="st3" points="8.71,70.3 46.05,103.92 54.43,94.18 43.12,90.96 46.05,82.06 "/>
                <polygon class="st2" points="54.43,94.18 46.05,103.92 46.05,113.42 76.11,100.89 "/>
                <polygon class="st1" points="46.05,113.42 67.78,120.02 76.11,100.89 "/>
                <polygon class="st1" points="71.21,155.25 13.49,155.25 50.93,191.2 57.49,197.5 117.51,197.5 "/>
                <polygon class="st0" points="117.51,197.5 57.49,197.5 71.21,155.26 "/>
                <polygon class="st5" points="60.42,171.61 2.69,171.61 49.32,193.64 57.49,197.5 117.51,197.5 "/>
                <polygon class="st4" points="117.51,197.5 57.49,197.5 2.69,171.61 "/>
              </svg>
          </a>
          <div class="flex items-center -mr-2 md:hidden">
            <button type="button" class="inline-flex items-center justify-center p-2 text-gray-400 bg-white rounded-md hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-orange-500" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <!-- Heroicon name: outline/menu -->
              <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
            </button>
          </div>
        </div>
      </div>
       <div class="hidden md:block md:ml-10 md:pr-4 md:space-x-8">
        <a href="/features" class="font-medium text-gray-600 hover:text-gray-800 dark:text-gray-300 dark:hover:text-gray-200">Features</a>
        <a href="/company" class="font-medium text-gray-600 hover:text-gray-800 dark:text-gray-300 dark:hover:text-gray-200">Company</a>
        <a href="/sign-in" class="font-medium text-gray-600 hover:text-gray-800 dark:text-gray-300 dark:hover:text-gray-200">Sign in</a>
      </div> 
    </nav>
  </div>
  <!--
    Mobile menu, show/hide based on menu open state.

    Entering: "duration-150 ease-out"
      From: "opacity-0 scale-95"
      To: "opacity-100 scale-100"
    Leaving: "duration-100 ease-in"
      From: "opacity-100 scale-100"
      To: "opacity-0 scale-95"
  -->
  <div class="absolute inset-x-0 top-0 z-10 p-2 transition origin-top-right transform md:hidden">
    <div class="overflow-hidden bg-white rounded-lg shadow-md ring-1 ring-black ring-opacity-5">
      <div class="flex items-center justify-between px-5 pt-4">
        <div>
          <img class="w-auto h-8" src="https://tailwindui.com/img/logos/workflow-mark-orange-600.svg" alt="">
        </div>
        <div class="-mr-2">
          <button type="button" class="inline-flex items-center justify-center p-2 text-gray-400 bg-white rounded-md hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-orange-500">
            <span class="sr-only">Close main menu</span>
            <!-- Heroicon name: outline/x -->
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
      {# <div class="px-2 pt-2 pb-3 space-y-1">
        <a href="/features" class="block px-3 py-2 text-base font-medium text-gray-700 rounded-md hover:text-gray-900 hover:bg-gray-50">Features</a>
        <a href="/company" class="block px-3 py-2 text-base font-medium text-gray-700 rounded-md hover:text-gray-900 hover:bg-gray-50">Company</a>
      </div>
      <a href="/sign-in" class="block w-full px-5 py-3 font-medium text-center text-orange-600 bg-gray-50 hover:bg-gray-100"> Sign in </a>
    </div> #}
  </div>
</div>