---
layout: landing.njk
title: Press
---
<main id="main" class="w-full h-full">
<div class="px-4 pt-16 pb-20 bg-white dark:bg-slate-900 sm:px-6 lg:pt-24 lg:pb-28 lg:px-8">
  <div class="relative max-w-lg mx-auto divide-y-2 divide-gray-200 lg:max-w-7xl lg:p-8">
    <div>
      <h2 class="text-3xl font-extrabold tracking-tight text-gray-700 dark:text-gray-200 sm:text-4xl">Press</h2>
      <div class="mt-3 sm:mt-4 lg:grid lg:grid-cols-2 lg:gap-5 lg:items-center">
        <p class="text-xl text-gray-600 dark:text-gray-400">Get weekly articles in your inbox on how to grow your business.</p>
        <form class="flex flex-col mt-6 sm:flex-row lg:mt-0 lg:justify-end">
          <div>
            <label for="email-address" class="sr-only">Email address</label>
            <input id="email-address" name="email-address" type="email" autocomplete="email" required class="w-full px-4 py-2 text-base text-gray-900 placeholder-gray-500 bg-white border border-gray-300 rounded-md appearance-none focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 lg:max-w-xs" placeholder="Enter your email">
          </div>
          <div class="flex flex-shrink-0 w-full mt-2 rounded-md shadow-sm sm:mt-0 sm:ml-3 sm:w-auto sm:inline-flex">
            <button type="button" class="flex items-center justify-center w-full px-4 py-2 text-base font-medium text-black bg-orange-400 border border-transparent rounded-md hover:text-black hover:bg-orange-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:w-auto sm:inline-flex">Notify me</button>
          </div>
        </form>
      </div>
    </div>
    <div class="grid gap-16 pt-10 mt-6 lg:grid-cols-2 lg:gap-x-5 lg:gap-y-12">
      <div>
        <p class="text-sm text-gray-500 dark:text-gray-400">
          <time datetime="2020-03-16">Mar 16, 2020</time>
        </p>
        <a href="#" class="block mt-2">
          <p class="text-xl font-semibold text-gray-700 dark:text-gray-300">Boost your conversion rate</p>
          <p class="mt-3 text-base text-gray-600 dark:text-gray-400">Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam vitae illo. Non aliquid explicabo necessitatibus unde. Sed exercitationem placeat consectetur nulla deserunt vel. Iusto corrupti dicta.</p>
        </a>
        <div class="mt-3">
          <a href="#" class="text-base font-semibold text-orange-700 hover:text-orange-800 dark:text-orange-500 dark:hover:text-orange-300"> Read full story </a>
        </div>
      </div>

      <div>
        <p class="text-sm text-gray-500 dark:text-gray-400">
          <time datetime="2020-03-10">Mar 10, 2020</time>
        </p>
        <a href="#" class="block mt-2">
          <p class="text-xl font-semibold text-gray-700 dark:text-gray-300">How to use search engine optimization to drive sales</p>
          <p class="mt-3 text-base text-gray-600 dark:text-gray-400">Optio cum necessitatibus dolor voluptatum provident commodi et. Qui aperiam fugiat nemo cumque.</p>
        </a>
        <div class="mt-3">
          <a href="#" class="text-base font-semibold text-orange-700 hover:text-orange-800 dark:text-orange-500 dark:hover:text-orange-300"> Read full story </a>
        </div>
      </div>

      <div>
        <p class="text-sm text-gray-500 dark:text-gray-400">
          <time datetime="2020-02-12">Feb 12, 2020</time>
        </p>
        <a href="#" class="block mt-2">
          <p class="text-xl font-semibold text-gray-700 dark:text-gray-300 ">Improve your customer experience</p>
          <p class="mt-3 text-base text-gray-600 dark:text-gray-400">Cupiditate maiores ullam eveniet adipisci in doloribus nulla minus. Voluptas iusto libero adipisci rem et corporis.</p>
        </a>
        <div class="mt-3">
          <a href="#" class="text-base font-semibold text-orange-700 hover:text-orange-800 dark:text-orange-500 dark:hover:text-orange-300"> Read full story </a>
        </div>
      </div>

      <div>
        <p class="text-sm text-gray-600 dark:text-gray-400">
          <time datetime="2020-01-29">Jan 29, 2020</time>
        </p>
        <a href="#" class="block mt-2">
          <p class="text-xl font-semibold text-gray-700 dark:text-gray-300">Writing effective landing page copy</p>
          <p class="mt-3 text-base text-gray-600 dark:text-gray-400">Ipsum voluptates quia doloremque culpa qui eius. Id qui id officia molestias quaerat deleniti. Qui facere numquam autem libero quae cupiditate asperiores vitae cupiditate. Cumque id deleniti explicabo.</p>
        </a>
        <div class="mt-3">
          <a href="#" class="text-base font-semibold text-orange-700 hover:text-orange-800 dark:text-orange-500 dark:hover:text-orange-300"> Read full story </a>
        </div>
      </div>
    </div>
  </div>
</div>
</main>